@import '../../styles/breakpoints.scss';

.horizontal-rule {
    font-family: var(--font-chloe);
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5.1875rem;

    @include respond(phone) {
        font-size: 2.25rem;
        margin-bottom: 3.3125rem;
    }

    &::after,
    &::before {
        content: '';
        display: block;
        height: 1px;
        background-color: var(--color-cinzaclaro);
        flex-grow: 1;
    }

    &::after {
        margin-left: 10px;
    }
    &::before {
        margin-right: 10px;
    }
}
