@import '../../styles/breakpoints.scss';

.button {
    padding: 0.75rem 2.75rem;
    background: transparent;
    background-color: var(--color-verde);
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: inline-block;

    @include respond(laptop) {
        font-size: 1rem;
    }
    @include respond(tab-port) {
        font-size: 0.75rem;
    }

    &:hover {
        opacity: 90%;
    }
}
