nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c4c4c4;
    padding: 15px 30px;
}

.nav {
    display: flex;
    list-style: none;
    width: calc((100% - 138px) / 2);

    &__right {
        justify-content: flex-end;
    }

    &__item {
        font-size: 1rem;
        color: var(--color-text);
        text-transform: uppercase;

        &:not(:first-child) {
            margin-left: 1.5rem;
        }

        &--icon {
            font-size: 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
    }
}
