@import '../../styles/breakpoints.scss';

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    width: calc((100% - 138px) / 2);

    &--left {
        @include respond(laptop) {
            display: none;
        }
    }

    &--right {
        justify-content: flex-end;
    }

    &__item {
        font-size: 1rem;
        text-transform: uppercase;

        &:not(:first-child) {
            margin-left: 1.5rem;
        }

        &--icon {
            font-size: 1.5rem;

            &:not(:first-child) {
                margin-left: 2.5rem !important;
            }
        }

        &--search,
        &--pack,
        &--logout {
            @include respond(laptop) {
                display: none;
            }
        }
    }

    &__link {
        transition: color 0.4s ease;
        color: var(--color-text);
        text-decoration: none;
        position: relative;
        padding-bottom: 6px;

        &:hover {
            color: #000000;
        }

        &--count {
            color: #ffffff;
            background-color: var(--color-verde);
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            text-align: center;
            font-size: 0.7rem;
            position: absolute;
            top: -50%;
            right: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.active {
    color: #000000;
    border-bottom: 3px solid var(--color-verde);
}
